configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";

    sidebar-mode: true;
    display-ssh:    "󰣀 ssh:";
    display-drun:   "󰣖 drun:";
    display-run:    "󱓞 run:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 120;
}

@theme "awesome-dark.rasi"
